In [4]:
import graphlab

In [5]:
sf = graphlab.SFrame('people-example.csv')

[ERROR] graphlab.connect.main:  ========================================
GraphLab Create requires a license to use. To get a trial, non-commercial,  or commercial license, visit https://turi.com/register.
=================================================

InvalidProductKey: Product key not found.

In [3]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [7]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:45119/index.html
Opening Canvas in default web browser.

In [8]:
graphlab.canvas.set_target('ipynb')

In [10]:
sf['age'].show(view='Categorical')

In [15]:
age = sf['age']

In [13]:
sf['First Name']

dtype: str
Rows: 7
['Bob', 'Alice', 'Malcolm', 'Felix', 'Alex', 'Tod', 'Derek']

In [16]:
age

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [18]:
pow(age, 2)

dtype: float
Rows: 7
[576.0, 529.0, 484.0, 529.0, 529.0, 484.0, 625.0]

In [21]:
age.min()

22

In [20]:
age.mean()

23.14285714285714

In [22]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [23]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [24]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [26]:
country = sf['Country']

In [28]:
country.show()

In [29]:
def tfCountry(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [31]:
tfCountry('USA')

'United States'

In [34]:
country.apply(tfCountry).show()

In [35]:
country = country.apply(tfCountry)

In [36]:
country

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [37]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']